body{
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.explorer{
    padding-top: 25px;
    width: 100%;
    .browse-cont{
        display: flex;
        justify-content: space-between;
        padding-right: 80px;
        .browse{
            display: flex;
            flex-wrap: wrap;
            .file-cont {
                display: flex;
                justify-content: flex-end;
                height: 100px;
                width: 80px;
                font-size: 12px;
                align-items: center;
                margin: 0 20px;
                flex-direction: column;
                .file-image {
                    display: flex;
                    background-repeat: no-repeat;
                    color: #ffffff;
                    cursor: default;
                    text-align: center;
                    position: relative;
                    justify-content: center;
                    align-items: flex-end;
                    padding-bottom: 10px;
                    box-sizing: border-box;
                }
            
                .folder-icon {
                    text-decoration: none;
                    .folder-disp {
                        @extend .file-image;
                        width: 56px;
                        height: 61px;
                        background-image: url("/src/images/folder.png");
                    }
                }
            
                .file-icon {
                    text-decoration: none;
                    .file-disp {
                        @extend .file-image;
                        cursor: default;
                        width: 52px;
                        height: 75px;
                        background-image: url("/src/images/file.png");
                    }
                }
                .file-name{
                    font-size: 13px;
                    color: #666;
                    max-width: 80px;
                    @extend .ellipsis;
                }
            }
            .file-cont:focus{
                outline: none;
                &.folder-wrapper{
                    background-color: #E6F5FF;  
                }
                &.file-wrapper{
                    background-color: #fffde6;  
                }
            }
            .file-cont:hover{
                &.folder-wrapper{
                    background-color: #E6F5FF;  
                }
                &.file-wrapper{
                    background-color: #fffde6;  
                }
            }
            .no-files{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 500px;
                max-width: 500px;
            }
        }
        .add-file{
            cursor: pointer;
        }
    }
}
